@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: center;
    font-family: Outfit, sans-serif;
    font-size: 18px;
    min-height: 100vh;
    background-color: var(--main-BG);
    color: var(--Soft-blue);
}

.container {
    margin: 0 auto;
    max-width: 375px;
}

.card {
    margin: 1rem;
    padding: 25px;
    background-color: var(--card-BG);
    border-radius: 0.8rem;
}

.images {
    max-width: 100%;
    position: relative;
}

.equilibrium {
    max-width: 100%;
    overflow: hidden;
    border-radius: 0.7rem;
    display: block;
}

/* .icon {
    position: absolute;
    top: 40.5%;
    left: 42%;
} */

.equilibrium:hover  {
    cursor: pointer;   
}

.overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.7rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(178, 100%, 50%, 40%);
    opacity: 0;
}

 .overlay:hover {
    opacity: 1;
 }

 h1 {
    color: var(--White);
    padding-top: 2rem;
    padding-bottom: 1rem;
 }

 h1:hover {
    cursor: pointer;
    color: var(--Cyan);
 }

 p {
    font-weight: 300;
    padding-bottom: 1.5rem;
 }

 .PriceAndDays {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--line);
 }

 .price {
    color: var(--Cyan);
 }

#creator {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top:  1rem;
    padding-bottom: 1rem;
}

#creator img {
    width: 2.5rem;
    border: 2px solid var(--White);
    border-radius: 100px;
}

#creator p {
    margin-top: 20px;
    margin-left: 1rem;
}

span {
    color: var(--White);
}

span:hover {
    cursor: pointer;
    color: var(--Cyan);
}


:root {
    /* primary */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* ### Neutral */

    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}